
<app-toolbar
  [title]="'Envoyer à ' + (name==''?receiver:name)"
  (dismiss)="dismiss()">
</app-toolbar>

<ion-content>
  <ion-item class="amount">
    <ion-label position="fixed">Montant:</ion-label>
    <ion-input type="tel" [(ngModel)]="amount"></ion-input>
    <ion-label class="left">F CFA</ion-label>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-item lines="none">
    <ion-label color="primary">{{"Mon solde: " + ((transType=="depot-seddo")?user.seddo:user.pocket) + " F CFA"}}</ion-label>
  </ion-item>
  <ion-button expand="full" (click)="next()">
    Suivant
  </ion-button>
</ion-footer>
