<!-- <ion-header>
  <ion-toolbar>
    <ion-title>transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title>transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	  <ion-card>
      <ion-card-header>
            Balance 
      </ion-card-header>     
    </ion-card>

    <ion-card>
    	  <ion-grid>
    	  	       <ion-row>
						  <ion-col style="background-color:hsl(22, 96%, 50%)">
						       <ion-label>Sujet</ion-label>
						  </ion-col>
						  <ion-col style="background-color:hsl(22, 96%, 50%)">
						       <ion-label>Date</ion-label>
						  </ion-col>
						  <ion-col style="background-color:hsl(22, 96%, 50%)">
						       <ion-label>Type</ion-label>
						  </ion-col>
						  <ion-col style="background-color:hsl(22, 96%, 50%)">
						       <ion-label>Montant</ion-label>
						   </ion-col>
				    </ion-row>
				  <ion-row *ngFor ="let each of transactions">
						  <ion-col  class="ion-text-start">
						    <ion-label>{{each.subject}}</ion-label>
						  </ion-col>
						  <ion-col  class="ion-text-start">
						    <ion-label>{{each.note}}</ion-label>
						  </ion-col>
						  <ion-col  class="ion-text-start">
						    <ion-label>{{each.debit}}</ion-label>
						  </ion-col>
						   <ion-col  class="ion-text-start">
						    <ion-label>{{each.created_at}}</ion-label>
						  </ion-col>
						  
				    </ion-row>
			</ion-grid>
    </ion-card>


    

</ion-content>
