<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button fill="clear" (click)="logout()">
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>

  <ion-card color="primary" mode="ios">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-margin">
          <ion-card-header mode="ios">
            <ion-card-title mode="ios">Solde UV</ion-card-title>
          </ion-card-header>
          <ion-card-content mode="ios">
            <ion-label>
              <h1>
                <strong>
                  {{user.pocket}} FCFA
                </strong>
              </h1>
            </ion-label>
          </ion-card-content>
        </ion-col>

        <ion-col class="ion-no-margin">
              <ion-card-header mode="ios">
                <ion-card-title mode="ios">Seddo</ion-card-title>
              </ion-card-header>
              <ion-card-content mode="ios">
                <ion-label>
                  <h1>
                    <strong>
                      {{user.seddo}} FCFA
                    </strong>
                  </h1>
                </ion-label>
              </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-card>

  <ion-list class="my-list">
    <ion-item button detail routerLink="../commande">
      <ion-label>
        Commande UV
      </ion-label>
    </ion-item>

    <ion-item button detail routerLink="../seddo">
      <ion-label>
        Commande SEDDO
      </ion-label>
    </ion-item>

    <ion-item button detail (click)="presentModal('depot')">
      <ion-label>
        Dépot d'argent
      </ion-label>
    </ion-item>

    <ion-item button detail (click)="presentModal('retrait')">
      <ion-label>
        Retrait d'argent
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar no-padding>
    <ion-button expand="full" fill="clear" size="small" routerLink="/starting/transactions">
      Voir l'historique des transactions
    </ion-button>
  </ion-toolbar>
</ion-footer>
