.pocket{
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  height: 150px;
  background: #EEEEEE;
}

.my-list {
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100%;
  margin: 0 !important;
}

ion-slides {
  height: 35%;
  width: 400px;
}

ion-card {
  width: 90%;
  height: 70%;
  box-shadow: 10px 10px 5px grey;
}
