.my-list {
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100%;
  margin: 0 !important;
}


.card {
  height: min-content;
  box-shadow: 0 0 5px 0 grey;
}

.filter {
  filter: invert(65%) sepia(70%) saturate(4982%) hue-rotate(360deg) brightness(103%) contrast(104%);
}

ion-item {
  --detail-icon-color: #FF7A01;
  --detail-icon-opacity: 35px;
  --padding-top: 12px;
}

.content {
  --background: rgba(230, 230, 230, 0.945);
}

.horizontale {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 2px;
  margin-bottom: 4px;
}

.pos {
  background-color: #FF7A01;
}

header {
  height: 200px;
}



