<ion-toolbar mode="ios">
  <ion-buttons slot="end">
    <ion-button fill="clear" (click)="logout()">
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content scroll-y="false">

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card color="primary" mode="ios">
        <ion-card-header mode="ios">
          <ion-card-title mode="ios">Solde UV</ion-card-title>
        </ion-card-header>
        <ion-card-content mode="ios">
          <ion-label>
            <h1>
              <strong>
                {{user.pocket}} FCFA
              </strong>
            </h1>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card color="primary" mode="ios">
        <ion-card-header mode="ios">
          <ion-card-title mode="ios">Seddo</ion-card-title>
        </ion-card-header>
        <ion-card-content mode="ios">
          <ion-label>
            <h1>
              <strong>
                {{user.seddo}} FCFA
              </strong>
            </h1>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>


  <ion-list class="my-list" mode="ios" lines="none">
    <ion-item *ngFor="let function of functions" button detail (click)="presentModal(function.present)" mode="ios" detail="false">
      <ion-label mode='ios'>
        {{function.label}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer mode="ios">
  <ion-toolbar no-padding mode="ios">
    <ion-button mode="ios" expand="full" fill="clear" size="small" routerLink="/starting/transactions">
      Voir l'historique des transactions
    </ion-button>
  </ion-toolbar>
</ion-footer>
