<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Envoyer de l'argent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>Choix 1</ion-card-title>
          <ion-card-content>
            Tranférer 20000fcfa
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-title>Choix 2</ion-card-title>
          <ion-card-content>
            Tranférer 30000fcfa
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-title>Choix 3</ion-card-title>
          <ion-card-content>
            Tranférer 40000fcfa
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>Choix 4</ion-card-title>
          <ion-card-content>
            Tranférer 50000fcfa
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-title>Choix 5</ion-card-title>
          <ion-card-content>
            Tranférer 60000fcfa
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-title>Choix 6</ion-card-title>
          <ion-card-content>
            Tranférer 70000fcfa
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-button expand="full" padding>
    Transférer de l'argent
  </ion-button>
</ion-content>
