<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Annuler</ion-button>
    </ion-buttons>
    <ion-title>{{transactions[typeTrans]}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="ion-padding ion-margin" lines="full">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input value="+221" readonly strong></ion-input>
        </ion-col>
        <ion-col>
          <ion-label position="floating">Veillez entrer le numéro</ion-label>
          <ion-input [(ngModel)]="receiver" required></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="presentModal()">
    Suivant
  </ion-button>
</ion-footer>
