<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon color="primary" size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{"Commander " + orderType}}</ion-title>
  </ion-toolbar>
</ion-header> -->

<app-toolbar
  [title]="'Commander ' + orderType"
  (dismiss)="dismiss()">
</app-toolbar>

<ion-content>

  <ion-item class="amount">
    <ion-label>
      Montant:
    </ion-label>
    <ion-input inputmode="tel" required [(ngModel)]="amount"></ion-input>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="order()">Soumettre</ion-button>
</ion-footer>
