<!-- <ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/starting"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-row>
   <ion-col>
     <ion-card>
      <ion-card-header>
        Solde actuel
      </ion-card-header>
      <ion-card-content>
        {{balance}}
        <br>
       <ion-button expand="block" routerLink="/home/transactions" routerDirection="root">Transactions</ion-button>
      </ion-card-content>
    </ion-card>
 </ion-col>
<!-- </ion-row> -->
<!-- <ion-row> -->
 <ion-col >
 <ion-card>
  <ion-card-header>
    Envois
  </ion-card-header>
  <ion-card-content>
    {{total_send}}
    <br>
      <ion-button expand="block" routerLink="/home/envois" routerDirection="root">Envoyer</ion-button>


  </ion-card-content>
</ion-card>
</ion-col>
<!-- </ion-row> -->

<!-- <ion-row> -->
<ion-col>
<ion-card>
  <ion-card-header>
    Reçus
  </ion-card-header>
  <ion-card-content>
    {{total_receive}} 
    <br>
      <ion-button expand="block" routerLink="/home/commandes" routerDirection="root">Commander</ion-button>


  </ion-card-content>
</ion-card>
 </ion-col>
</ion-row>
</ion-content>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/8.3.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/8.3.0/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>