<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/starting"></ion-back-button>
    </ion-buttons>
    <ion-title>Commander Seddo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Montant:
    </ion-label>
    <ion-input [(ngModel)]="amount"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      Code secret:
    </ion-label>
    <ion-input [(ngModel)]="code" type="password"></ion-input>
  </ion-item>


</ion-content>

<ion-footer>
    <ion-button expand="full" (click)="order()">Soumettre</ion-button>
</ion-footer>
