<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>

  <ion-card class="pocket">
    <ion-card-header>
      <ion-card-title>Solde du compte</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      <ion-label>
        <h1>
          <strong>
             FCFA
          </strong>
        </h1>
      </ion-label>
    </ion-card-content>
  </ion-card>




<!--
  <ion-button expand="full" padding (click)="presentModal()">
    Transférer de l'argent
  </ion-button> -->
</ion-content>

<ion-footer>
  <ion-toolbar no-padding>
    <ion-button expand="full" fill="clear" size="small">
      Voir l'historique des transactions
    </ion-button>
  </ion-toolbar>
</ion-footer>
