<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/start/transactions"></ion-back-button>
    </ion-buttons>
    <ion-title>Envoyer à {{receiver}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="ion-padding ion-margin" lines="full">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label position="floating">Montant à envoyer</ion-label>
          <ion-input [(ngModel)]="amount"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input value="FCFA" readonly></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="presentModal()">
    Suivant
  </ion-button>
</ion-footer>

