.elevation {
  --background: azure;
  --border-radius: 30px;
}

.phone-icon{
  padding: 0 0 0 6px;
  margin: 0 0 0 6px;
}

.change-chip{
  margin-left: 30px;
}

.amount {
  margin: 100px 0 0 0;
}

ion-input {
  text-align: center;
}
