<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="dismiss()">
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{"Faire un " + (transType=="depot"?"dépôt":"retrait")}}</ion-title>
  </ion-toolbar>
  <ion-toolbar mode="ios">
    <ion-item lines="none" class="vert">
      <ion-label class="hori">À</ion-label>
    </ion-item>
    <ion-searchbar (ionInput)="filterList($event)" class="hori" mode="ios"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item-group>
      <ion-item-divider mode="ios">
        <ion-label>Favoris</ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let el of listCl" button (click)="takeClient(el)">
        <ion-label>{{el.firstName + " " + el.lastName}}</ion-label>
        <ion-note slot="end">{{el.number}}</ion-note>
      </ion-item>

      <ion-item-divider mode="ios">
        <ion-label>Contacts</ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let el of contacts" button (click)="takeContact({phoneNumber: el.phoneNumbers[0].number, displayName: el.displayName})">
        <ion-label>{{el.displayName}}</ion-label>
        <ion-note slot="end">{{el.phoneNumbers[0].number}}</ion-note>
      </ion-item>

    </ion-item-group>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="next()">
    Suivant
  </ion-button>
</ion-footer>
