.money {
  font-weight: bolder;
}

.header {
  background-color: rgba(250, 244, 244, 0.959);
  padding: 8px 0 0 0px;
}

ion-card {

  height: 210px;
  ion-row {
    padding-bottom: 16px;
  }
}

.border {
  border-style: solid;
  border-color: rgb(255, 102, 0) !important;
}
