<div id="main-menu">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Bienvenue M. SY
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list lines="none">
      <ion-item>
        <ion-label>
          <h2 class='strong'>Ma solde</h2>
          <p>2959495 fcfa</p>
        </ion-label>
      </ion-item>
    </ion-list>

  </ion-content>
</div>

<!-- <ion-header>

  <ion-toolbar>
    <ion-title size = "large" style="text-align: center;">Bienvenue M. SY</ion-title>
    <ion-navbar>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
    <ion-navbar>
      <button style="float: right;">
        <ion-icon name="person-sharp" size = "large"></ion-icon> 
      </button>
    </ion-navbar>
  </ion-toolbar>
</ion-header> -->

<ion-menu contentId="main-menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Bonjour</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Bonjour</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Bonjour</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Bonjour</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>