<div id="main-menu">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Bienvenue M. SY
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list lines="none">
      <ion-item>
        <ion-label>
          <h2 class='strong'>Mon solde</h2>
          <p>2959495 fcfa</p>
        </ion-label>
      </ion-item>
    </ion-list>

  </ion-content>
</div>


<ion-menu contentId="main-menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="bar-chart"></ion-icon>
        <ion-button  color="primary" expand="block" [routerLink]="['/home/dashboard']" strong>
          <ion-label> dashboard</ion-label>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-icon name="alert-outline"></ion-icon>
        <ion-button  color="primary" expand="block" [routerLink]="['/home/dashboard']" strong>
          <ion-label> Faire une réclamation</ion-label>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-icon name="construct-outline"></ion-icon>
        <ion-button  color="primary" expand="block" [routerLink]="['/home/dashboard']" strong>
          <ion-label> paramètres</ion-label>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-button  color="primary" expand="block" [routerLink]="['/home/dashboard']" strong>
          <ion-label> A propos de l'appli</ion-label>
        </ion-button>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>