<ion-header>

  <ion-toolbar>
    <ion-title size = "large" style="text-align: center;">Bienvenue M. SY</ion-title>
    <ion-navbar>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
    <ion-navbar>
      <button style="float: right;">
        <ion-icon name="person-sharp" size = "large"></ion-icon> 
      </button>
    </ion-navbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <h2 class='strong'>Ma solde</h2>
      <p>2959495 fcfa</p>
    </ion-label>
  </ion-item>
</ion-content>
