<ion-header>
  <ion-toolbar>
    <ion-title>Commandes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Commander Uvs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>Choix 1</ion-card-title>
          <ion-card-content>
           100000fcfa
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-title>Choix 2</ion-card-title>
          <ion-card-content>
            200000fcfa
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-title>Choix 3</ion-card-title>
          <ion-card-content>
            300000fcfa
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>Choix 4</ion-card-title>
          <ion-card-content>
            500000fcfa
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-title>Choix 5</ion-card-title>
          <ion-card-content>
           600000fcfa
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-title>Choix 6</ion-card-title>
          <ion-card-content>
           700000fcfa
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
