ion-item {
  --padding-top: 150px;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

ion-label {
  min-width: 8% !important;
  max-width: 8% !important;
}

ion-input {
  text-align: center;
  font-size: 17px;
  font-weight: bolder;
}
