<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/starting/account"></ion-back-button>
    </ion-buttons>
    <ion-title>Confirmer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="ion-padding ion-margin" lines="full">
          <ion-label position="floating">Code secret</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="send()" type="password">
    Confirmer
  </ion-button>
</ion-footer>
