<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" (click)="logout()">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-card class="my-card">
    <ion-card-content>
      <ion-list class="back">
        <ion-list-header class="back">Transactions</ion-list-header>

        <ion-item-group class="back">

          <ion-item-divider class="back" lines="none">
            <ion-label>Ce mois</ion-label>
          </ion-item-divider>

          <ion-item class="ion-margin" *ngFor="let el of list" type="button" button detail lines="full">
            <ion-icon [name]="el.typeTransaction=='DEPOT'?'arrow-down-circle':'arrow-up-circle'"></ion-icon>
            <ion-label>
              <h3>{{el.typeTransaction=='DEPOT'?el.sender.number:el.receiver.number}}</h3>
              <p>{{(el.typeTransaction=="DEPOT"?"+":"-") + el.amount}} FCFA</p>
            </ion-label>
          </ion-item>

        </ion-item-group>

      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>

